<div class="container">
    <div style="padding-bottom: 1em">
        <h2>О проекте</h2>
        <p>Подготовка востребованных и конкурентоспособных специалистов осуществляется в НИУ ИТМО на основе реализации компетентностно-ориентированных образовательных программ в соответствии с требованиями ФГОС ВПО, потребностями рынка труда и обучающихся. Формирование и оценивание компетенций обучающихся на основе деятельностного характера обучения требует применения активных и интерактивных образовательных технологий (преподавания, обучения и оценивания), в том числе технологий электронного и дистанционного обучения.</p>
        <p>Целью развития и применения в учебном процессе НИУ ИТМО электронного обучения и дистанционных образовательных технологий является повышение доступности и качества образования, мобильности обучающихся и мирового авторитета университета. Под доступностью в широком смысле понимается возможность повышения вариативности подготовки, учета различных уровней сложности и направленности обучения в соответствии с индивидуальными возможностями и потребностями обучающегося, возможность обучения вне зависимости от его местонахождения и формы обучения, а также снижение стоимости обучения.</p>
        <p>Формирование и развитие технологической платформы электронного обучения и дистанционных образовательных технологи должны обеспечивать ее совместимость с системой дистанционного обучения «AcademicNT», используемой в университете более пятнадцати лет и содержащей значительные информационные и электронные образовательные ресурсы.</p>
    </div>
    <div style="padding-bottom: 1em">
        <h3>Основные стратегические направления развития</h3>
        <ul>
            <li>Организация технологической платформы для создания ресурсов и реализации открытого электронного обучения студентов вузов, школьников, специалистов и преподавателей.</li>
            <li>Разработка методик создания электронных курсов, обеспечивающих достижение запланированных в образовательных программах результатов обучения.</li>
            <li>Разработка набора авторских электронных курсов, обеспечивающих освоение дисциплин (модулей) образовательных программ в автоматическом режиме.</li>
            <li>Разработка нормативной базы открытого электронного обучения.</li>
            <li>Проведение исследований эффективности открытого электронного обучения в НИУ ИТМО.</li>
        </ul>
    </div>
</div>