<div class="container">
    <div class="row">
        <div class="span12">
            <div style="padding-bottom: 1em">
                <h2>Каталог курсов</h2>

                <table>
                    <tr>
                        <td style="padding-right: 2em">
                            Поиск:<br>
                            <input ng-model="query" type="text" placeholder="название курса">
                        </td>
                        <td>
                            Сортировать по:<br>
                            <select ng-model="orderProp">
                                <option value="name">названию</option>
                                <option value="age">дате</option>
                            </select>                       
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-repeat="course in courses | filter:query | orderBy:orderProp" class="carousel course-block">
                <a class="carousel-inner thumbnail" href="#/courses/{{course.id}}">
                    <div class="active item"><img ng-src="courses/{{course.id}}/img/logo.png" class="course-block-img"></div>
                    <div class="carousel-caption" style="padding-bottom: 0.5em; padding-top: 0.5em">
                        <div style="color: white">
                            <b>{{course.name}}</b><!--<br>{{course.beginDate}}-->
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>