<div class="container">
    <div class="row">
        <div class="span8">
            <h1>{{course.name}}</h1>
            <h4>{{course.university}}</h4>

            <h3 class="header">О курсе</h3>
            <p>{{course.description}}</p>
            
            <h3 class="header">Авторы</h3>
            <div ng-repeat="person in course.staff" class="staff">
                    <img ng-src="{{person.photoUrl}}" class="img-polaroid staff">
                    <h4>{{person.name}}</h4>
                    <p>{{person.description}}</p>
            </div>
        </div>
        <div class="span4">
            <img ng-src="{{course.imageUrl}}" class="thumbnail img-course">
            <br>
            <table class="table">
                <tr>
                    <td><i class="icon-info-sign"></i> Номер курса</td>
                    <td><b>{{course.id}}</b></td>
                </tr>
                <tr>
                    <td><i class="icon-calendar"></i> Начало</td>
                    <td><b>{{course.beginDate}}</b></td>
                </tr>
                <tr>
                    <td><i class="icon-calendar"></i> Окончание</td>
                    <td><b>{{course.endDate}}</b></td>
                </tr>
                <tr>
                    <td><i class="icon-pencil"></i> Нагрузка</td>
                    <td><b>{{course.effort}}</b></td>
                </tr>
                <tr>
                    <td><i class="icon-book"></i> Требования</td>
                    <td><b>{{course.prerequisites | checkmark}}</b></td>
                </tr>
            </table>
            <div style="margin-top: 20px; margin-bottom: 30px; text-align: center">
                <div ng-show="isAuth() == true">
                    <div ng-show="isReg(course.id) == false">
                        <a class="btn btn-primary btn-large" ng-click="setReg(course.id)">
                            Записаться
                        </a>                                
                    </div>
                    <div ng-show="isReg(course.id) == true">
                        <a class="btn btn-success btn-large" href="#/courses/{{course.id}}/news">
                            Перейти к курсу
                        </a>    
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
