<form class="form-horizontal" name="loginForm" ng-submit="submitLoginForm(user)" ng-controller="LoginFormCtrl">
    <div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Авторизация</h3>
        </div>
        <div class="modal-body" style="padding-bottom: 2.5em">
            <div class="alert alert-error" ng-show="error == true">
                  Введен неправильный адрес электронной почты или пароль!
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Электронная почта:</label>
                <div class="controls">
                    <input ng-model="user.email" type="email" id="inputEmail" placeholder="yourname@domain.com" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Пароль:</label>
                <div class="controls">
                    <input ng-model="user.password" type="password" id="inputPassword" placeholder="******" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="float: left; text-align: left; margin-top: 4px">
                <a href="#signup" data-toggle="modal" onclick="$('#login').modal('hide');">Нет учетной записи</a> или <a href="#forgot" data-toggle="modal">забыли пароль</a>?
            </div>
            <div style="float: right">
                <button type="submit" id="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</form>