<!-- Modal Log In -->
<div ng-include src="'template/login.html'"></div>

<!-- Modal Sign Up -->
<div ng-include src="'template/signup.html'"></div>

<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#"><img src="img/logo2.png" style="margin-top: -18px; margin-bottom: -15px"><!--<span style="color: blue">ИТМО</span><span class="divider-vertical"></span>--><span style="margin-left: 20px">Открытое онлайн-обучение</span></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right" style="width: 350px">
                    <li><a href="#/about">О проекте</a></li>
                    <li><a href="#/courses">Каталог курсов</a></li>
                    <li ng-show="isAuth() == false"><a href="#login" data-toggle="modal">Вход</a></li>
                    <li ng-show="isAuth() == true">
                        <div class="btn-group">
                            <a href="#/profile"><button class="btn"><i class="icon-home"></i> Профиль</button></a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="logout()">Выход</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>