<div class="container">
    <h2>Профиль</h2>
    <div class="row">
        <div class="span4">
            <div class="well" style="text-align: center">
                <h2>{{profile.login}}</h2>
            </div>
            <table class="table">
                <tr>
                    <td><i class="icon-info-sign"></i></td>
                    <td><b>{{profile.fullname}}</b></td>
                </tr>
                <tr>
                    <td><i class="icon-envelope"></i></td>
                    <td><b>{{profile.email}}</b></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
        <div class="span8">
            <p>В разработке...</p>
        </div>
    </div>
</div>
