<!-- Sign In -->
<form class="form-horizontal" name="loginForm" ng-submit="submitLoginForm()" ng-controller="LoginFormCtrl" novalidate>
    <div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Авторизация</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error" ng-show="error">
                {{error}}
            </div>
            <div class="control-group" ng-class="{error: loginForm.inputEmail.$invalid}">
                <label class="control-label" for="inputEmail">Электронная почта:</label>
                <div class="controls">
                    <input id="inputEmail" ng-model="user.email" type="email" name="inputEmail" placeholder="yourname@domain.com" required>
                </div>
            </div>
            <div class="control-group" ng-class="{error: loginForm.inputPassword.$invalid}">
                <label class="control-label" for="inputPassword">Пароль:</label>
                <div class="controls">
                    <input id="inputPassword" ng-model="user.passwd" ng-minlength="4" ng-maxlength="32" type="password" name="inputPassword" placeholder="******" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="float: left; text-align: left; margin-top: 4px">
                <a href="#signup" data-toggle="modal" ng-click="reset()">Нет учетной записи</a> или <a href="#forgot" data-toggle="modal">забыли пароль</a>?
            </div>
            <div style="float: right">
                <button id="submit" ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</form>

<!-- Sign Up -->
<form class="form-horizontal" name="signupForm" ng-submit="submitSignupForm()" ng-controller="SignupFormCtrl" novalidate>
    <div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Регистрация</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error" ng-show="error">
                {{error}}
            </div>
            <div class="control-group" ng-class="{error: signupForm.inputEmail.$invalid}">
                <label class="control-label" for="inputEmail">Электронная почта:</label>
                <div class="controls">
                    <input  id="inputEmail" ng-model="user.email" ng-minlength="4" ng-maxlength="32" type="email" name="inputEmail" placeholder="yourname@domain.com" required>
                </div>
            </div>
            <div class="control-group" ng-class="{error: signupForm.inputPassword.$invalid}">
                <label class="control-label" for="inputPassword">Пароль:</label>
                <div class="controls">
                    <input id="inputPassword" ng-model="user.passwd" ng-minlength="4" ng-maxlength="32" type="password" name="inputPassword" placeholder="******" required>
                </div>
            </div>
            <div class="control-group" ng-class="{error: signupForm.inputRePassword.$invalid}">
                <label class="control-label" for="inputRePassword">Подтверждение пароля:</label>
                <div class="controls">
                    <input id="inputRePassword" ng-model="user.repasswd" type="password" name="inputRePassword" placeholder="******" repeat-password="inputPassword" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputNickname">Псевдоним:</label>
                <div class="controls">
                    <input id="inputNickname" ng-model="user.nickname" type="text" name="inputNickname" placeholder="виден остальным участникам">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFullname">Полное имя:</label>
                <div class="controls">
                    <input id="inputFullname" ng-model="user.fullname" type="text" name="inputFullname" placeholder="указывается в сертификате">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input ng-model="user.terms" type="checkbox" required>Я принимаю <a href="#/terms" target="_blank">условия обслуживания</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="float: left; text-align: left; margin-top: 4px">
                Уже есть учетная запись? <a href="#login" data-toggle="modal" ng-click="reset()">Авторизоваться</a>.
            </div>
            <div style="float: right">
                <button id="submit" ng-disabled="signupForm.$invalid" type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</form>