<style type="text/css">
    .top-block {
        background: url('img/itmo_panorama_1680.png') no-repeat center;
        /*position: absolute;*/
        height: 304px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index:-10;
        border-bottom: 2px solid #04357a;
        position: absolute;
        width: 100%;
        top: 0;
    }
    .top-block .text-area {
        margin: 85px 4px 0 4px;
        background: #04357a;
        background: rgba(4,53,122,0.85);
        border-radius: 25px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 25px;
        /*
        border: 1px solid #042750;
        box-shadow: 1px 1px 20px #042750;
        */
    }
    .top-block .logo-image {
        float: right;
        width: 121px;
        height: 119px;
        background: url('img/itmo.png') no-repeat center;
    }
    .top-block .slogan {
        /*
        overflow:hidden;
        height: 163px;
        */
        overflow:hidden;
        max-height: 240px;
    }
    .top-block .slogan .text {
        padding: 20px;
    }
    .top-block .slogan .header {
        color: whitesmoke;
        font-size: xx-large;
        font-family: 'Jura';
        font-weight: bold;
        border-bottom-color: #eee;
        /*text-decoration: underline;*/
        padding: 0;
        margin: 0 0 14px 0;
    }
    .top-block .slogan .text > p {
        color: whitesmoke;
        font-size: medium;
        font-family: 'Jura';
        font-weight: bold;
    }

    .circle {
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        display: inline-block;
        text-align: center;
    }
    .type1 {
        width: 20px;
        height: 20px;
        background-color: #ff7c2b;
        color: white;
        font-weight: bold;
        font-size: large;
        padding: 8px;
    }
    .type2 {
        width: 20px;
        height: 20px;
        background-color: #0f88cc;
        color: white;
        font-weight: bold;
        padding: 4px;
        margin-left: 6px;
    }
    .main-block {
        margin-top: 300px;
    }
</style>

<div class="top-block">
    <div class="container">
        <div class="text-area">
            <div class="logo-image"></div>
            <div class="slogan">
                <div class="text">
                    <h1 class="header">Коротко о главном</h1>
                    <p>Образовательный проект "Открытое онлайн-обучение" предоставляет бесплатный доступ к учебным электронным курсам НИУ ИТМО.</p>
                    <p>Познавайте новое в компактной форме в любой точке мира в удобное для себя время!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container main-block">
    <!--<h3 style="color: #0f88cc; font-family: 'Jura'">Курсы</h3>-->
    <div ng-repeat="course in catalog | orderBy:'begin'" style="clear: both; margin-bottom: 20px">
        <a class="thumbnail" href="#video" ng-click="catalog.name=course.name; catalog.video=course.video" data-toggle="modal" style="text-decoration: none; color: #333; border-radius: 25px; min-height: 160px; padding: 15px; border-color: #04357a">
            <div>
                <!--<img ng-src="courses/{{course.id}}/img/logo.png" style="border-radius: 10px;float: left;margin: 0 20px 0px 0;">-->
                <img ng-src="img/demo-course-{{course.id}}.png" style="border-radius: 10px;float: left;margin: 0 20px 0px 0;">

                <div style="white-space: nowrap; float: right; padding-top: 85px; text-align: right">
                    <p><span class="circle type1">{{course.beginDate | dateToText:'day'}}</span> <span style="font-weight: bold">{{course.beginDate | dateToText:'month'}} {{course.beginDate | dateToText:'year'}} г.</span></p>
                    <p><span class="circle type2">{{getDiffInWeeks(course.beginDate,course.endDate)}}</span> <span style="font-weight: bold">{{getWeekName(getDiffInWeeks(course.beginDate,course.endDate))}}</span></p>
                </div>

                <p style="color: #04357a; font-family: 'Jura'; font-size: x-large; padding-bottom: 5px; font-weight: bold;">{{course.name}}</p>

                <p style="color: black">{{course.description}}</p>
                <p style="color: black">Авторы курса: {{getAuthors(course.authors)}}</p>

            </div>
            <!--
           <div style="display: table-cell; vertical-align: bottom; text-align: right;white-space: nowrap;">
               <p><span class="circle type1">{{course.beginDate | dateToText:'day'}}</span> <span style="font-weight: bold">{{course.beginDate | dateToText:'month'}} {{course.beginDate | dateToText:'year'}} г.</span></p>
               <p><span class="circle type2">{{getDiffInWeeks(course.beginDate,course.endDate)}}</span> <span style="font-weight: bold">{{getWeekName(getDiffInWeeks(course.beginDate,course.endDate))}}</span></p>
           </div>
            -->
        </a>
    </div>

    <!-- Modal window -->
    <div id="video" class="modal hide fade" tabindex="-1" role=labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria>×</button>
            <h3 id="myModalLabel">{{catalog.name}}</h3>
        </div>
        <div class="modal-body text-center">
            <div ng-bind-html-unsafe="catalog.video"></div>
        </div>
        <!--
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        -->
    </div>
</div>
