<style type="text/css">
    .top-block {
        background: url('img/itmo_panorama_1680.png') no-repeat center;
        /*position: absolute;*/
        height: 305px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index:-10;
        border-bottom: 2px solid #042750;
        margin-bottom: 30px;
    }
    .top-block .text-area {
        margin: 60px 4px 0 4px;
        background: #04357a;
        background: rgba(4,53,122,0.85);
        border-radius: 25px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border: 1px solid #042750;
        box-shadow: 1px 1px 20px #042750;
    }
    .top-block .logo-image {
        float: right;
        width: 164px;
        height: 163px;
        background: url('img/itmo.png') no-repeat center;
    }
    .top-block .slogan {
        overflow:hidden;
        height: 163px;
    }
    .top-block .slogan .text {
        padding: 30px;
    }
    .top-block .slogan .header {
        color: whitesmoke;
        font-size: xx-large;
        font-family: 'Jura';
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 10px;
    }
    .top-block .slogan .text > p {
        color: whitesmoke;
    }
    
    .circle {
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        display: inline-block;
        text-align: center;
    }
    .type1 {
        width: 20px;
        height: 20px;
        background-color: orange;
        color: white;
        font-weight: bold;
        font-size: large;
        padding: 8px;
    }
    .type2 {
        width: 20px;
        height: 20px;
        background-color: #0f88cc;
        color: white;
        font-weight: bold;
        padding: 4px;
    }
</style>

<div class="top-block">
    <div class="container">
            <div class="text-area">
                <div class="logo-image"></div>
                <div class="slogan">
                    <div class="text">
                        <p class="header">Коротко о главном</p>
                        <p>Образовательный проект "Открытое онлайн-обучение" предоставляет бесплатный доступ к учебным электронным курсам НИУ ИТМО.</p>
                        <p>Познавайте новое в компактной форме в любой точке мира в удобное для себя время!</p>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="container">
            <!--<h3 style="color: #0f88cc; font-family: 'Jura'">Курсы</h3>-->
            <div ng-repeat="course in catalog | orderBy:'begin'" style="clear: both; margin-bottom: 20px">
                <a class="thumbnail pull-left" href="#video" ng-click="catalog.name=course.name; catalog.video=course.video" data-toggle="modal" style="margin-right: 20px;">
                    <img ng-src="courses/{{course.id}}/img/logo.png" style="border-radius: 4px;">
                </a>
                
                <div style="display: inline-block">
                <h3 style="color: #0f88cc; font-family: 'Jura'">{{course.name}}</h3>
                
                <p>{{course.description}}</p>
                <p>Авторы курса: 
                    <span ng-repeat="author in course.authors">{{author}} </span>
                </p>
                
                <div>
                    <p><span class="circle type1">{{course.beginDate | dateToText:'day'}}</span> <span style="padding-right: 20px; font-weight: bold">{{course.beginDate | dateToText:'month'}} {{course.beginDate | dateToText:'year'}} г.</span>
                        <span class="circle type2">{{getDiffInWeeks(course.beginDate,course.endDate)}}</span> <span style="font-weight: bold">{{getWeekName(getDiffInWeeks(course.beginDate,course.endDate))}}</span></p>
                </div>
                </div>
            </div>

            <!-- Modal window -->
            <div id="video" class="modal hide fade" tabindex="-1" role=labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria>×</button>
                    <h3 id="myModalLabel">{{catalog.name}}</h3>
                </div>
                <div class="modal-body text-center">
                    <div ng-bind-html-unsafe="catalog.video"></div>
                </div>
                <!--
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                -->
            </div>
</div>