<style type="text/css">
    .course-block {
        height: 150px;
        margin-bottom: 1em;
        overflow: hidden;
    }
    img.course-logo {
        float: left;
        margin: 1em;
        height: 110px;
        width: 210px;
    }
</style>
<div class="container">
    <h2 class="page-header">Мои курсы</h2>
    <div ng-repeat="course in catalog | isStatus:profile.courses | orderBy:'begin'" class="thumbnail course-block">
        <a ng-href="#/courses/{{course.id}}">
            <img ng-src="courses/{{course.id}}/img/logo.png" class="img-polaroid course-logo">
        </a>
        <h3><a ng-href="#/courses/{{course.id}}">{{course.name}}</a></h3>
        <div class="progress" title="Пройдено {{getProgress(course.begin, course.end)}}%">
            <div class="bar" style="width: {{getProgress(course.begin, course.end)}}%"></div>
        </div>
        <div style="margin-top: 1em">
            <a class="btn btn-success" ng-href="#/courses/{{course.id}}/news">Перейти к курсу</a>
            <a class="btn" ng-click="unReg(course.id)">Отказаться</a>
        </div>
    </div>
</div>
