<style type="text/css">
    img.course-logo {
        float: left;
        margin: 2em 0 2em 0;
        height: 110px;
        width: 210px;
    }
</style>
<div class="container">
    <h2 class="page-header">Мои курсы</h2>
    <ul style="margin-left: 0">
        <li ng-repeat="course in catalog | isStatus:profile.courses | orderBy:'begin'" class="thumbnail" style="height: 150px; margin-bottom: 1em; overflow: hidden">
            <a ng-href="#/courses/{{course.id}}"><img ng-src="courses/{{course.id}}/img/logo.png" class="img-polaroid course-logo" style="margin: 1em"></a>
            <h3><a ng-href="#/courses/{{course.id}}">{{course.name}}</a></h3>
            <div class="progress" title="Пройдено {{getProgress(course.beginDate, course.endDate)}}%">
                <div class="bar" style="width: {{getProgress(course.begin, course.end)}}%"></div>
            </div>
            <div style="margin-top: 1em">
                <a class="btn btn-success" ng-href="#/courses/{{course.id}}/news">
                    Перейти к курсу
                </a>
                <a class="btn" ng-click="unReg(course.id)">
                    Отказаться
                </a>
            </div>
        </li>
    </ul>
</div>
