html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: -41px auto; 
    z-index: 1;
}
.push {
    height: 40px;
}
.footer {
    height: 40px;
    background: #f5f5f5;
    border-top: 1px solid #0f88cc;
    z-index: 2;
    overflow: hidden;
}
.credit {
  margin-top: 10px;
  color: #04357a;
  height: 20px;
}

h1 {
  border-bottom: 1px solid #0f88cc;
  font-size: xx-large;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #0f88cc;
  font-family: 'Jura', sans-serif;
}

/* Bootstrap Customize */
.container {
    max-width: 940px;
}
.navbar-static-top {
    margin: 0;
}
.navbar {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    white-space: nowrap;
}
.navbar-inner {
    background: rgba(4, 53, 122, 0.85);
    filter: none;
    border: 0;
}
.navbar .brand {
    color: #eee;
    text-shadow: none;
    font-weight: bold;
}
.navbar .nav-collapse .nav > li > a,
.navbar .nav-collapse .dropdown-menu a {
    color: #eee;
    text-shadow: none;
    font-weight: normal;
}
.navbar .nav-collapse .nav > li > a:hover,
.navbar .nav-collapse .nav > li > a:focus,
.navbar .nav-collapse .dropdown-menu a:hover,
.navbar .nav-collapse .dropdown-menu a:focus {
    color: #b9defb;
    background-color: transparent;
    /*background-color: #0f88cc;*/
}

/* Multipurpose items(begin) */
.edit_area {
    width: 100%;
    height: 100px !important;
    margin: 0;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.item {
    position: relative;

    width: 100%;
    padding: 5px 15px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid lightgray;
    border-radius: 6px;
}

    .item-toolbar {
        height: 20px;
    }

        .item-toolbar-addl {
            display: block;
            float: right;
        }

    .item-body {
        font-size: medium;

        width: 100%;
        margin: 8px 0 10px 0;
    }

        .item-body h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

    .item-info {
        font-style: italic;
    }

    .item-btn {
        cursor: pointer;

        color: #000;
    }

        .item-btn:hover {
            text-decoration: none;

            color: #000;
        }

        .item-btn * {
            vertical-align: middle;
        }

.item.topic {
    cursor: pointer;
}
/* Multipurpose items(begin) */
