html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.footer {
  margin-top: 40px;
  width: 100%;
  /*overflow: hidden;*/
  border-top: 1px solid #0f88cc;
  /*background: #f5f5f5;*/
}
.credit {
  margin-top: 10px;
  color: #04357a;
  height: 20px;
}

h1 {
  border-bottom: 1px solid #0f88cc;
  font-size: xx-large;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #0f88cc;
  font-family: 'Jura', sans-serif;
}

/* Bootstrap Customize */
.navbar-static-top {
    margin: 0px;
}
.navbar {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
}
.navbar .brand {
    font-weight: bold;
}
.navbar .nav-collapse .nav > li > a,
.navbar .nav-collapse .dropdown-menu a {
    color: #eee;
    font-weight: normal;
}
.navbar .nav-collapse .nav > li > a:hover,
.navbar .nav-collapse .nav > li > a:focus,
.navbar .nav-collapse .dropdown-menu a:hover,
.navbar .nav-collapse .dropdown-menu a:focus {
    /*background-color: transparent;
    color: #b9defb;*/
    background-color: #0f88cc;
}

/*
.course-block {
  float: left;
  width: 290px;
  height: 180px;
  margin: 0 1.4em 1em 0;
  padding: 0;
}
.course-block > a {
  text-decoration: none;
  color: #404040;
  font-family: 'Jura', sans-serif;
}
.course-caption {
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  position: absolute;
  right: 4px;
  bottom: 4px;
  left: 4px;
  padding: 5px 15px 5px 15px;
  color: #fff;
  background: #333;
  background: rgba(48,96,128,0.85);
}
.crouse-title {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
  font-weight: bold;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
}
#box1 {
  height: 160px;
  width: 290px;
}
#box1:hover + #box2 {
  height: 0px;
}
#box2 {
  position: absolute;
  margin-top: -160px;
  height: 160px;
  width: 290px;
  -webkit-transition: 500ms all ease-in-out;
  -moz-transition: 500ms all ease-in-out;
  -o-transition: 500ms all ease-in-out;
  -ms-transition: 500ms all ease-in-out;
  background-repeat: no-repeat;
}
#box2:hover {
  height: 0px;
}
img.course-logo-large {
  height: 160px;
  width: 290px;
  margin: 2em 0 2em 0;
}
img.course-logo {
  float: left;
  margin: 2em 0 2em 0;
  height: 110px;
  width: 210px;
}
div.author {
  display: inline-block;
}
div.author > img {
  float: left;
  margin-right: 1em;
  height: 100px;
  width: 80px;
  padding: 1px;
  border: 1px solid #c0c0c0;
}
.nav-parts {
  width: 220px;
  font-family: 'Jura', sans-serif;
  font-size: 110%;
}
h1 {
  border-bottom: 1px solid #808080;
  color: #5080a0;
  font-family: 'Jura', sans-serif;
  font-size: xx-large;
}
h2 {
  margin-bottom: 0.5em;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #5080a0;
  font-family: 'Jura', sans-serif;
}
p {
  color: #505050;
  text-align: justify;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -22px auto -20px;
}
#push {
  height: 60px;
}
#footer {
  height: 40px;
  border-top: 2px solid #0f88cc;
}
#footer {
  background-color: #f5f5f5;
}
.container .credit {
  margin: 10px 0;
  color: #04357a;
}
code {
  font-size: 80%;
}


.navbar-inner {
  font-family: 'Jura', sans-serif;
  font-size: 110%;
  background-image: -moz-linear-gradient(top, #306080, #042750);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#306080), to(#042750));
  background-image: -webkit-linear-gradient(top, #306080, #042750);
  background-image: -o-linear-gradient(top, #306080, #042750);
  background-image: linear-gradient(to bottom, #306080, #042750);
  font-family: 'Jura', sans-serif;
}
.navbar .brand {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #0665b6;
}
.navbar .nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 #0665b6;
  padding-bottom: 0;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #b9defb;
}
li {
  padding-bottom: 0.5em;
}
*/
