.media-wrap {
  position: relative;
  margin-bottom: 40px;
}
.left-block {
  padding: 19px 0px;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -ms-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  height: auto;
  overflow-x: hidden;
}
.left-block .toggle-menu {
  display: none;
}
.left-block .chapters-list {
  padding: 0;
  height: 100%;
  overflow-y: auto;
}
.left-block .chapters-list > li {
  line-height: 22px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 5px;
}
.left-block .chapters-list > li.active {
  background: #dddddd;
}
.left-block .chapters-list .nav-header {
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  margin-bottom: 10px;
}
.left-block.lecture-menu {
  position: absolute;
  left: 0;
  height: 100%;
  padding-right: 25px;
  z-index: 2;
}
.left-block.lecture-menu .toggle-menu {
  display: block;
}
.right-block.span9 {
  margin-left: 0;
  width: 75.858974%;
  float: right !important;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -ms-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  padding-left: 10px;
}
.right-block.span9 .presentation-wrap object {
  width: 100%;
  height: 100%;
  -webkit-transition: height 0.2s, width 0.2s;
  -moz-transition: height 0.2s, width 0.2s;
  -ms-transition: height 0.2s, width 0.2s;
  -o-transition: height 0.2s, width 0.2s;
  transition: height 0.2s, width 0.2s;
}
.right-block.span9 .video-wrap video {
  width: 100%;
  height: 100%;
  -webkit-transition: height 0.2s, width 0.2s;
  -moz-transition: height 0.2s, width 0.2s;
  -ms-transition: height 0.2s, width 0.2s;
  -o-transition: height 0.2s, width 0.2s;
  transition: height 0.2s, width 0.2s;
}
.video-wrap .acorn-player.darkglass .acorn-fullscreen-button {
  display: none;
}
.video-wrap .quiz-mark {
  position: absolute;
  width: 4px;
  background: #fde910;
  height: 100%;
  margin-left: -2px;
}
.video-wrap .toggle-video {
  display: none;
}
.presentation-wrap {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 30px;
}
.presentation-wrap .presentation {
  margin: 0;
  padding: 0;
}
.presentation-wrap .presentation > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.presentation-wrap .presentation > ul > li {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
}
.presentation-wrap .presentation-nav {
  text-align: center;
  background: #f5f5f5;
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  letter-spacing: 5px;
  padding: 4px 0;
}
.presentation-wrap .presentation-nav .buttons {
  display: inline-block;
  white-space: nowrap;
}
.presentation-wrap .presentation-nav .buttons .btn {
  line-height: 10px;
}
.presentation-wrap .presentation-nav .auto {
  float: left;
  margin-left: 10px;
}
.presentation-wrap .presentation-nav .auto input {
  margin: 0;
}
.quiz-wrap {
  position: absolute;
  top: 10%;
  left: -240px;
  width: 460px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: left 0.2s, margin-left 0.3s ease-in, opacity 0.2s;
  -moz-transition: left 0.2s, margin-left 0.3s ease-in, opacity 0.2s;
  -ms-transition: left 0.2s, margin-left 0.3s ease-in, opacity 0.2s;
  -o-transition: left 0.2s, margin-left 0.3s ease-in, opacity 0.2s;
  transition: left 0.2s, margin-left 0.3s ease-in, opacity 0.2s;
}
.quiz-wrap input[type="radio"] {
  margin-top: 0;
}
.quiz-show {
  opacity: 1;
  left: 50%;
  margin-left: -230px;
}
.toggle-menu {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fafafa;
  text-align: center;
  -webkit-box-shadow: 1px 0 1px #ddd inset;
  -moz-box-shadow: 1px 0 1px #ddd inset;
  box-shadow: 1px 0 1px #ddd inset;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -ms-transition: right 0.2s;
  -o-transition: right 0.2s;
  transition: right 0.2s;
}
.toggle-menu > i {
  margin-top: 30px;
  -webkit-transition: background-position 0.2s ease 0.2s;
  -moz-transition: background-position 0.2s ease 0.2s;
  -ms-transition: background-position 0.2s ease 0.2s;
  -o-transition: background-position 0.2s ease 0.2s;
  transition: background-position 0.2s ease 0.2s;
}
.toggle-presentation {
  position: relative;
  background: #f5f5f5;
  margin-bottom: 0;
  text-align: right;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.toggle-presentation > i {
  margin-right: 10px;
}
.toggle-video {
  background: #f5f5f5;
  margin-bottom: 0;
  text-align: right;
  border-bottom: 1px solid #ddd;
  position: absolute;
  width: 100%;
  top: -20px;
  z-index: 1;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.toggle-video > i {
  margin-right: 10px;
}
.toggle-view {
  position: absolute;
  top: -30px;
  right: 0px;
}
.toggle-view label {
  display: inline-block;
}
.hide-menu .left-block {
  width: 0;
  border-left: 0;
}
.hide-menu .left-block .toggle-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.hide-menu .left-block .toggle-menu .icon-arrow-left {
  background-position: -264px -96px;
}
.hide-menu .right-block {
  width: 98%;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hide-menu .presentation-wrap {
  bottom: 30px;
}
.hide-menu .reverse-view .presentation-wrap {
  position: static;
  width: auto;
}
.presentation-wrap.hide-presentation {
  height: 0;
  bottom: 51px;
}
.presentation-wrap.hide-presentation .presentation ul {
  height: 0;
}
.presentation-wrap.hide-presentation .presentation-nav {
  display: none;
}
.presentation-wrap.hide-presentation .icon-plus {
  background-position: -408px -96px;
}
.hide-video {
  height: 0;
}
.hide-video video {
  height: 0 !important;
}
.hide-video .icon-plus {
  background-position: -408px -96px;
}
.hide-video .acorn-player.darkglass {
  height: 0;
  padding: 0 !important;
}
.hide-video .acorn-controls {
  display: none;
}
.reverse-view .video-wrap {
  position: absolute;
  z-index: 1;
  width: 30%;
  right: 0;
  bottom: 35px;
}
.reverse-view .presentation-wrap {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.reverse-view .presentation-wrap .toggle-presentation {
  display: none;
}
.reverse-view .video-wrap video {
  height: auto;
}
.reverse-view .video-wrap .toggle-video {
  display: block;
}
.reverse-view .presentation-wrap {
  position: static;
  width: auto;
}
.reverse-view .acorn-player.darkglass {
  padding-bottom: 3px;
}
.reverse-view .acorn-player.darkglass .acorn-controls {
  width: 98%;
  padding-left: 2%;
  padding-right: 0;
  margin-top: -3px;
}
.reverse-view .acorn-player.darkglass .acorn-play-button {
  display: none;
}
.reverse-view .acorn-player.darkglass .acorn-timer {
  width: auto;
}
.reverse-view .acorn-player.darkglass .acorn-fullscreen-button {
  display: none;
}
.reverse-view .acorn-player.darkglass .acorn-volume-box {
  width: 11%;
}
.full-screen {
  margin: 0;
  background: #000000;
}
.full-screen .toggle-view {
  top: 0;
  z-index: 1;
}
.full-screen .video-wrap {
  max-width: 70%;
  height: 100%;
}
.full-screen .video-wrap .acorn-player {
  height: 100%;
}
.full-screen .video-wrap .acorn-player .acorn-controls {
  margin-top: -70px;
}
.full-screen .presentation-wrap {
  bottom: 15px;
}
.full-screen.only-video .video-wrap {
  max-width: 100%;
  height: auto;
}
.full-screen.only-video .video-wrap .acorn-player {
  height: auto;
}
.full-screen.only-video .video-wrap .acorn-player .acorn-controls {
  margin-top: -100px;
}
.full-screen.reverse-view .video-wrap {
  bottom: 0;
  height: auto;
}
.full-screen.reverse-view .video-wrap .acorn-player {
  height: auto;
}
.full-screen.reverse-view .video-wrap .acorn-player .acorn-controls {
  margin-top: 0;
}
.full-screen.reverse-view .presentation-wrap {
  width: 70%;
  height: 100%;
}
@media (max-width: 980px) {
  .parts-container .left-block {
    position: absolute;
  }
  .parts-container .right-block {
    width: 98%;
  }
}
@media (max-width: 767px) {
  .row-fluid .left-block {
    width: 23.404255319148934%;
  }
  .hide-menu .left-block {
    width: 0;
  }
  .right-block.span9 {
    padding-left: 25px;
  }
}
