<div ng-controller="ExamCtrl">

    <div ng-hide="isTest()">
        <div ng-repeat="test in exam">
            <h3>{{test.name}}</h3>
            <p><i>Крайний срок сдачи: {{test.deadline | dateToText:'date'}}</i></p>
            <p>{{test.description}}</p>
            <a class="btn" href ng-click="showPage($index)">Перейти к тесту</a>
        </div>
    </div>

    <div ng-show="isTest()">

        <div ng-repeat="question in test.questions" class="well">

            <h4>{{question.title}}</h4>
            <p>{{question.description}}</p>
            <div ng-repeat="item in question.answers">
                <label class="radio">
                    <input type="radio" name="{{item.id}}">
                    {{item.text}}
                </label>
            </div>
        </div>

        <a class="btn" href ng-click="showPage()">
            Вернуться назад
        </a>

        <a class="btn btn-success">
            Отправить на проверку
        </a>

    </div>
</div>