<div class="alert alert-error" ng-show="isLate" >
    Вы приступаете к тесту после контрольных сроков сдачи, поэтому не получите бонусных баллов в рейтинг!
</div>

<div ng-repeat="question in questions" class="well">
    <div class="btn-group pull-right">
        <a class="btn" data-toggle="dropdown"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li ng-hide="isHintShowed(question)"><a href ng-click="registerHint(question)">Подсказка</a></li>
            <li ng-show="isHintShowed(question)" class="disabled"><a>Подсказка дана</a></li>
            <li ng-show="isModerator()" ><a href ng-click="edit(question)">Редактировать (не работает)</a></li>
            <li ng-show="isModerator()" ><a href ng-click="remove(question)">Удалить</a></li>
        </ul>
    </div>
    <h4>{{question.name}}</h4>
    <p>{{question.description}}</p>
    <div ng-repeat="item in question.variants" ng-show="isItRadio(question)"  >
        <label class="question radio">
            <input type="radio" name="{{question.name}}" value="{{item.variantId}}">
            {{item.text}}
        </label>
    </div>
    <div ng-repeat="item in question.variants" ng-show="isItCheckbox(question)" >
        <label class="question checkbox">
            <input type="checkbox" name="{{question.name}}" value="{{item.variantId}}" >
            {{item.text}}
        </label>
    </div>
    <div ng-repeat="item in question.variants" ng-show="isItInputText(question)" >
        <label class="question input-medium">
            <input type="text" name="{{question.name}}" value="{{item.text}}" >
        </label>
    </div>
    <div ng-repeat="item in question.variants" ng-show="isItRestoreOrder(question)" >
        <label class="question dropdown">
            <span style="margin-right: 6px; bottom: 3px; position: relative;">{{$index+1}}.</span>
            <select name="{{question.name}}" >
                <option disabled/>
                <option ng-repeat="item in question.variants" value="{{item.variantId}}">{{item.text}}</option>
            </select>
        </label>
    </div>
    <div ng-class="hintClass(question)" class="alert alert-info">
        {{question.hint}}
    </div>
</div>

<a class="btn" href ng-click="back()">
    Вернуться назад
</a>

<a class="btn btn-success" href="#result" ng-click="submitTest()" data-toggle="modal">
    Отправить на проверку
</a>

<div style="padding-bottom: 1em;"></div>

<div style="position: absolute">
    <!-- Show result -->
    <div id="result" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="myModalLabel">Тестирование завершено</h3>
        </div>
        <div class="modal-body">
            <div class="control-group" >
                Количество набранных баллов за пройденный тест: {{score}}.
            </div>
        </div>
        <div class="modal-footer">
            <div style="text-align: center">
                <a class="btn btn-primary" ng-click="returnToExams()" >
                    Вернуться в раздел "Контроль"
                </a>
            </div>
        </div>
    </div>

</div>
