<style type="text/css">
    .post-item {
        padding: 5px;

        cursor: pointer;
    }
    .post-item:hover {
        border: 1px dashed lightgrey;
        border-radius: 5px;
        padding: 4px;
    }
    .post-item .box {
        position:relative;
        width: 100%;
    }
    .post-item .toolbar {
        position:absolute;
        top:0px;
        right:0px;
        width:80px;
        text-align: right;
        position: absolute;
        display: none;
    }
    .post-item:hover .toolbar {
        display: block;
    }
    .post-item .title {
        margin: 0;
        padding: 0;
        color: #5080a0;
        font-family: 'Jura', sans-serif;
        font-size: x-large;
    }
    .post-item .date {
        font-style: italic;
    }
    .post-item .button {
        margin-right: 5px;
        font-size: small;
    }
    .post-item .desc {
        white-space: pre-wrap;
    }
    .post-item .title-editor {
        width: 400px;
        float: left;
        margin-right: 1em;
    }
    .post-item .date-editor {
        font-style: italic;
        padding: 5px 40px 0 0;
    }
    .post-item .desc-editor {
        width: 670px;
        height: 200px;
    }
</style>

<div ng-hide="creationEnabled" class="box">
    <a class="btn" ng-click="enableCreation()">Создать тему</a>
</div>
<div ng-show="creationEnabled" class="box">
    <input type="text" ng-model="new.title" class="title-editor" placeholder="Название темы">
    <br>
    <div class="btn-group">
        <a class="btn" ng-click="add()">Создать</a>
        <a class="btn" ng-click="disableCreation()">Отмена</a>
    </div>
</div>
<br>

<div ng-repeat="topic in topics" class="post-item" fadey="500" ng-click="view($index)">
    <div ng-hide="isEditorEnabled($index)" class="box">
        <div class="toolbar">
            <a class="button" ng-click="edit($index)" stop-bubbling="click" title="править"><i class="icon-pencil"></i></a>
            <a class="button" ng-click="delete($index)" stop-bubbling="click" title="удалить"><i class="icon-trash"></i></a>
        </div>
        <h3 class="title">{{topic.title}}</h3>
        <div style="font-size: small; text-align: right">
            <span class="date">{{topic.author}}</span>,
            <span class="date">{{topic.date | dateToText}}</span>
        </div>
    </div>
    <div ng-show="isEditorEnabled($index)" class="box">
        <div class="toolbar">
            <a class="button" ng-click="update($index)" stop-bubbling="click" title="сохранить"><i class="icon-download-alt"></i></a>
            <a class="button" ng-click="edit(-1)" stop-bubbling="click" title="закрыть"><i class="icon-remove"></i></a>
        </div>
        <input type="text" ng-model="current.title" stop-bubbling="click" class="title-editor" placeholder="Название темы">
        <p class="date-editor">{{current.date | dateToText}}</p>
    </div>
</div>