<div ng-hide="!isAuth() || creationEnabled">
    <a class="btn" ng-click="enableCreation()">Разместить сообщение</a>
</div>
<div ng-show="creationEnabled">
    <textarea id="crArea" class="edit_area" ng-model="new.body"></textarea>
    <br>
    <div class="btn-group">
        <a class="btn" ng-click="add()">Опубликовать</a>
        <a class="btn" ng-click="disableCreation()">Отмена</a>
    </div>
</div>
<br>
<input type="text" ng-model="search" placeholder="Поиск">
<br><br>

<div ng-repeat="post in posts | filter: search" class="item" fadey="500">
    <div ng-hide="isEditorEnabled($index)">
        <div class="item-toolbar">
            <a class="item-btn" ng-click="toggleStar($index)" title="отметить"><i ng-class="isStarred($index) && 'icon-star' || 'icon-star-empty'"></i><span>{{post.stars.length}}</span></a>
            <div ng-show="isAuthor($index)" class="item-toolbar-addl">
                <a class="item-btn" ng-click="edit($index)" title="править"><i class="icon-pencil"></i></a>
                <a class="item-btn" ng-click="delete($index)" title="удалить"><i class="icon-trash"></i></a>
            </div>
        </div>
        <div class="item-body" ng-bind-html-unsafe="parseBody(post.body)"></div>
        <div class="item-info">
            <span class="item-info-author">{{post.author}}</span>,
            <span class="item-info-date">{{post.date | dateToText}}</span>
        </div>
    </div>
    <div ng-show="isEditorEnabled($index)">
        <div class="item-toolbar">
            <a class="item-btn" ng-click="toggleStar($index)" title="отметить"><i ng-class="isStarred($index) && 'icon-star' || 'icon-star-empty'"></i><span>{{post.stars.length}}</span></a>
            <div class="item-toolbar-addl">
                <a class="item-btn" ng-click="update($index)" title="сохранить"><i class="icon-download-alt"></i></a>
                <a class="item-btn" ng-click="edit(-1)" title="закрыть"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="item-body">
            <textarea class="edit_area" ng-model="current.body"></textarea>
        </div>
        <div class="item-info">
            <span class="item-info-author">{{post.author}}</span>,
            <span class="item-info-date">{{post.date | dateToText}}</span>
        </div>
    </div>
</div>