<style type="text/css">
    .post-item {
        padding: 5px;
    }
    .post-item:hover {
        border: 1px dashed lightgrey;
        border-radius: 5px;
        padding: 4px;
    }
    .post-item .box {
        position:relative;
        width: 100%;
    }
    .post-item .toolbar {
        position:absolute;
        top:0px;
        right:0px;
        width:80px;
        text-align: right;
        position: absolute;
        display: none;
    }
    .post-item:hover .toolbar {
        display: block;
    }
    .post-item .title {
        margin: 0;
        padding: 0;
        color: #5080a0;
        font-family: 'Jura', sans-serif;
        font-size: x-large;
    }
    .post-item .date {
        font-style: italic;
    }
    .post-item .button {
        margin-right: 5px;
        font-size: small;
    }
    .post-item .desc {
        white-space: pre-wrap;
    }
    .post-item .title-editor {
        width: 400px;
        float: left;
        margin-right: 1em;
    }
    .post-item .date-editor {
        font-style: italic;
        padding: 5px 40px 0 0;
    }
    .post-item .desc-editor {
        width: 670px;
        height: 200px;

        resize: none;
    }
</style>

<div ng-repeat="post in posts" class="post-item" fadey="500">
    <div ng-hide="isEditorEnabled($index)" class="box">
        <div class="toolbar">
            <a class="button" ng-click="edit($index)" stop-bubbling="click" title="править"><i class="icon-pencil"></i></a>
            <a class="button" ng-click="delete($index)" stop-bubbling="click" title="удалить"><i class="icon-trash"></i></a>
        </div>
        <div class="desc">{{post.body}}</div>
        <div style="font-size: small; text-align: right">
            <span class="date">{{post.author}}</span>,
            <span class="date">{{post.date | dateToText}}</span>
        </div>
    </div>
    <div ng-show="isEditorEnabled($index)" class="box">
        <div class="toolbar">
            <a class="button" ng-click="update($index)" stop-bubbling="click" title="сохранить"><i class="icon-download-alt"></i></a>
            <a class="button" ng-click="edit(-1)" stop-bubbling="click" title="закрыть"><i class="icon-remove"></i></a>
        </div>
        <textarea class="desc-editor" ng-model="current.body"></textarea>
        <p class="date-editor">{{current.date | dateToText}}</p>
    </div>
</div>
<br>
<div class="box">
    <textarea class="desc-editor" ng-model="new.body"></textarea>
    <br>
    <a class="btn" ng-click="add()">Написать</a>
</div>