<!-- styles are here only for development -->
<link rel="stylesheet" href="./css/lecture.css"/>
<link rel="stylesheet" href="../../js/lib/player/acornmediaplayer.base.css"/>
<link rel="stylesheet" href="../../js/lib/player/themes/darkglass/acorn.darkglass.css"/>
<script src="../../js/lib/player/jquery.acornmediaplayer.js"></script>
<!-- Template block -->
<div class="row-fluid parts-container" ng-class="{'hide-menu': toggleMenu}">

    <div class="left-block well span3" ng-class="{'lecture-menu':lectureId}">
        <label class="toggle-menu">
            <i class="icon-arrow-left">
                <input hidden ng-checked="false" ng-model="toggleMenu" type="checkbox">
            </i>
        </label>
        <ul class="nav nav-list chapters-list" ng-repeat="block in content">
            <li class="nav-header" ng-bind="block.name"></li>
            <li ng-repeat="chapter in block.chapters" ng-class="{active: chapter.lectureId==lectureId}">
                <p>
                    <i class="icon-film"></i>
                    <a href="#/courses/{{courseId}}/lectures/{{chapter.lectureId}}" title="{{ chapter.name }}">
                        <b ng-bind="chapter.name"></b>
                    </a>
                </p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="right-block span9" ng-controller="LectureCtrl">
        <div ng-hide="lectureId">
            <p ng-hide="lastLecture">
                Добро пожаловать в курс {{ course.name }}!
                Выберите интересующую Вас лекцию в меню слева. Хорошего просмотра!
            </p>
            <p ng-show="lastLecture">
                Привет вновь! В последний раз Вы смотрели <a href="#/courses/{{courseId}}/lectures/{{lastLecture}}"> {{ lastLecture }}</a>.
            </p>
        </div>
        <h3 ng-show="content.description" ng-bind="content.name"></h3>
        <p class="description" ng-show="content.description" ng-bind="content.description"></p>

        <div class="media-wrap" ng-class="{'reverse-view': viewMod == 'presentationMod'}" ng-show="lectureId">

            <div class="toggle-view btn-group" ng-show="presentation.presentationPath">
                <label class="primary-video btn" ng-class="{'disabled': viewMod=='videoMod'}">
                    <input type="radio"
                           hidden
                           ng-model="viewMod"
                           value="videoMod"
                           ng-init="viewMod = 'videoMod'"/>
                    <i class="icon-facetime-video">
                    </i>
                </label>
                <label class="primary-presentation btn" ng-class="{'disabled': viewMod=='presentationMod'}">
                    <input type="radio"
                           hidden
                           ng-model="viewMod"
                           value="presentationMod"/>
                    <i class="icon-picture">
                    </i>
                </label>
            </div>

            <div class="video-wrap"
                 ng-show="video.videoPath"
                 ng-class="{'hide-video':toggleVideo && viewMod == 'presentationMod'}">

                <label class="toggle-video">
                    <i class="icon-minus" ng-class="{'icon-plus': toggleVideo}">
                        <input hidden ng-model="toggleVideo" type="checkbox"/>
                    </i>
                </label>
                <video width="678" height="412" id="video" controls autoplay>
                    <source ng-repeat="path in video.videoPath" ng-src="{{ path }}">
                </video>
                <script>
                    $('#video').acornMediaPlayer({
                        theme:'darkglass',
                        volumeSlider: 'vertical',
                        tooltipsOn: false
                    });
                </script>

            </div>

            <div class="presentation-wrap"
                 ng-show="presentation.presentationPath"
                 ng-class="{'hide-presentation': togglePresentation && viewMod != 'presentationMod'}">

                <label class="toggle-presentation">
                    <i class="icon-minus" ng-class="{'icon-plus': togglePresentation}">
                        <input hidden ng-model="togglePresentation" type="checkbox"/>
                    </i>
                </label>
                <div id="presentation"></div>
                <div class="presentation-nav">
                    <label class="auto">
                        <input ng-change="presentation.changeSync()"
                               ng-init="presentation.isSync = true"
                               ng-model="presentation.isSync"
                               ng-checked="presentation.isSync"
                               type="checkbox"/> auto
                    </label>
                    <div class="buttons">
                        <button class="btn" ng-click="presentation.previousSlide()">
                            <i class="icon-chevron-left"></i>
                        </button>
                        <button class="btn" ng-click="presentation.nextSlide()">
                            <i class="icon-chevron-right"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="quiz-wrap well" ng-class="{'quiz-show':quiz.quizElem.isShown}">
                <form ng-submit="quiz.quizElem.selectedOption && quiz.checkQuiz()">
                    <p class="quiz-question" ng-bind="quiz.quizElem.question"></p>

                    <label ng-repeat="var in quiz.quizElem.variants">
                        <input type="radio"
                               ng-model="quiz.quizElem.selectedOption"
                               value="{{ $index+1 }}"/>
                        {{ var }}
                    </label>

                    <input class="btn btn-mini btn-primary"
                           ng-show="quiz.quizElem.verificationResult!='success'"
                           ng-class="{'disabled' : !quiz.quizElem.selectedOption}"
                           type="submit" value="Отправить"/>

                    <input class="btn btn-mini btn-success"
                           ng-show="quiz.quizElem.verificationResult=='success'"
                           ng-click="quiz.saveQuizContinue()"
                           type="button" value="Продолжить"/>

                    <input class="btn btn-mini"
                           type="button"
                           ng-click="quiz.hideQuiz()"
                           value="{{quiz.quizElem.verificationResult!='success' && 'Пропустить' || 'Сбросить'}}">
                </form>
                <div ng-show="quiz.quizElem.verificationResult" class="alert alert-{{ quiz.quizElem.verificationResult }}" ng-bind="quiz.quizElem.verificationResult"></div>
            </div>

        </div>

    </div>
</div>