<style type="text/css">
    .post-item {
        padding: 5px;
    }
    .post-item:hover {
        border: 1px dashed lightgrey;
        border-radius: 5px;
        padding: 4px;
    }
    .post-item .box {
        position:relative;
        width: 100%;
    }
    .post-item .toolbar {
        position:absolute;
        top:0px;
        right:0px;
        width:80px;
        text-align: right;
        position: absolute;
        display: none;

        /*
        padding: 5px;
        border: 1px solid #aaa;
        background: #eee;
        margin: 5px;
        */
    }
    .post-item:hover .toolbar {
        display: block;
    }
    .post-item .title {
        margin: 0;
        padding: 0;
        color: #5080a0;
        font-family: 'Jura', sans-serif;
        font-size: x-large;
    }
    .post-item .date {
        font-style: italic;
    }
    .post-item .button {
        margin-right: 5px;
        font-size: small;
    }
    .post-item .desc {
        white-space: pre-wrap;
    }
    .post-item .title-editor {
        width: 400px;
        float: left;
        margin-right: 1em;
    }
    .post-item .date-editor {
        font-style: italic;
        padding: 5px 40px 0 0;
    }
    .post-item .desc-editor {
        width: 670px;
        height: 200px;
    }
</style>
<div ng-controller="NewsCtrl">
    
    <div ng-repeat="item in news" class="post-item">
        <div ng-hide="isEditor($index)" class="box">
            <div class="toolbar">
                <a class="button" href="#addpost" data-toggle="modal" ng-click="edit(-1)" title="добавить"><i class="icon-plus"></i></a>
                <a class="button" ng-click="edit($index)" title="править"><i class="icon-pencil"></i></a>
                <a class="button" ng-click="del($index)" title="удалить"><i class="icon-trash"></i></a>
            </div>
            <h3 class="title">{{item.title}}</h3>
            <p class="date">{{item.date | dateToText:'time'}}</p>
            <div class="desc" ng-bind-html-unsafe="item.description"></div>
        </div>
        <div ng-show="isEditor($index)" class="box">
            <div class="toolbar">
                <a class="button" ng-click="update($index)" title="сохранить"><i class="icon-download-alt"></i></a>
                <a class="button" ng-click="edit(-1)" title="закрыть"><i class="icon-remove"></i></a>
            </div>
            <input type="text" ng-model="curr.title" class="title-editor" placeholder="Заголовок">
            <p class="date-editor">{{curr.date | dateToText:'time'}}</p>
            <textarea class="desc-editor" ng-model="curr.description"></textarea>
        </div>
    </div>

    <div id="addpost" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить объявление</h3>
        </div>
        <div class="modal-body">
            <div style="padding-right: 1em;">
                <input type="text" ng-model="curr.title" placeholder="Заголовок" style="width: 100%;">
            </div>
            <div style="padding-right: 1em">
                <textarea ng-model="curr.description"  style="width: 100%; height: 200px;"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="add()">Добавить</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
        </div>
    </div>
    
</div>