<div ng-controller="NewsCtrl">
    <div ng-repeat="item in news" class="newsitem">
        <div ng-hide="editorEnabled($index)">
                <a class="button" ng-click="del($index)" title="удалить"><i class="icon-remove"></i></a>
                <a class="button" ng-click="show($index)" title="править"><i class="icon-pencil"></i></a>
                <a href="#addnews" data-toggle="modal" class="button" ng-click="show(-1)" title="добавить"><i class="icon-plus"></i></a>
                <h3 class="title">{{item.title}}</h3>
                <p class="date">{{item.date | dateToText:'time'}}</p>
                <p class="desc">{{item.description}}</p>
        </div>
        <div ng-show="editorEnabled($index)">
            <div>Заголовок:</div>
            <input type="text" ng-model="curr.title" class="title-editor">
            <p class="date-editor">{{item.date | dateToText:'time'}}</p>
            <div>Текст:</div>
            <textarea ng-model="curr.description" class="desc-editor"></textarea>
            <button class="btn" ng-click="update($index)">Cохранить</button>
            <button class="btn" ng-click="show(-1)">Отмена</button>
        </div>
    </div>

    <div id="addnews" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить новость</h3>
        </div>
        <div class="modal-body newsitem">
        <p>Заголовок:</p>
        <div style="padding-right: 1em">
            <input type="text" ng-model="curr.title" class="title-new">
        </div>
        <p>Текст:</p>
        <div style="padding-right: 1em">
            <textarea ng-model="curr.description" class="desc-new"></textarea>
        </div>
        </div>
        <div class="modal-footer">
                <button class="btn" ng-click="add()">Добавить</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
        </div>
    </div>
</div>